body {
  background-color: rgba(240, 236, 133, 0.438);
}

img {
  max-width: 100%;
}
.container {
  max-width: 1000px;
}
.btn1 {
  background-color: red;
  color: white;
  border: none;
  font-weight: 700;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
}
#abc a {
  text-decoration: none;font-size: 23px;
  color: rgb(24, 9, 233);
}
.inf {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: (4);
  gap: 30px;
}
.inf img {
  width: 350px;
}
